<div class='bg-success text-white w-100 m-auto py-2 px-5'>
    <div class="px-5">
        <img src="carro1.png" height="46px"width="50px" class="body-img" alt=""><h2 style="text-align:left;">Menú Principal</h2>
    </div>
</div>

<style>
    .body-img {
        float: right;
    }
</style>