<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>

<body>
    <div class="contain d-flex flex-column text-center justify-content-center align-items-center">

        {{> Menu }}

        <div class="m-1">
            {{> Dashboard}}
        </div>
    </div>
    <style>
        * {
            margin: 0;
        }

        . contain {
            background: #ece9e9;
            height: 100vh;
        }
    </style>
</body>

</html>